.login-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #f9f9f9;
}

.login-box {
  width: 400px;
  padding: 20px;
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  text-align: center;
}

.login-box h1 {
  margin-bottom: 20px;
  font-size: 24px;
  color: #333;
}

.login-box .field {
  margin-bottom: 20px;
  text-align: left;
}

.login-box .field label {
  display: block;
  margin-bottom: 5px;
  font-weight: bold;
}

.login-box .field input {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 16px;
}

.login-box .error {
  color: red;
  font-size: 14px;
  margin-bottom: 20px;
}

.login-box button {
  width: 100%;
  padding: 10px;
  background-color: #272A35;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
}

.login-box button:hover {
  background-color: #1f1f1f;
}